* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h2,
h3,
p,
li,
button {
  font-family: sans-serif;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin-top: 24px;
  margin-bottom: 16px;
}

p,
ul {
  margin-bottom: 16px;
  line-height: 1.2;
}

.main-header {
  background-color: #f7f7f7;
  padding: 16px;
  position: relative;
}

.price {
  font-size: 22px;
  margin-bottom: 0px;
}

.shipping {
  color: #5f6845;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
}

a:link {
  color: black;
  text-decoration: none;
  /* font-size: 18px; */
  font-family: sans-serif;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline solid black;
}

.product-detail {
  list-style: square;
}

.container {
  width: 835px;
  margin: 0px auto;
  border: 5px solid black;
  margin-top: 40px;
}

button {
  background-color: black;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  border-top: 5px solid black;
  border-left: none;
  border-right: none;
  padding: 16px;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.detail-label {
  font-size: 16px;
  text-transform: uppercase;
}

ul {
  padding-left: 18px;
}

li {
  margin-bottom: 16px;
}

header::before {
  content: "Sale";
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  background-color: red;
  padding: 12px 16px;
  position: absolute;
  top: -22px;
  left: -36px;
  letter-spacing: 4px;
}

.color-container {
  margin-top: 24px;
}

.color {
  /* display: inline-block; */
  width: 16px;
  height: 16px;
  /* margin-right: 8px; */
}

.color1 {
  background-color: black;
}

.color2 {
  background-color: blue;
}

.color3 {
  background-color: red;
}

.color4 {
  background-color: yellow;
}

.color5 {
  background-color: green;
}

.color6 {
  background-color: brown;
}

.img-container img,
.info-container,
.detail-container {
  margin-right: 35px;
}

/* .img-container img {
  float: left;
  width: 240px;
}

.info-container {
  float: left;
  width: 240px;
}

.detail-container {
  float: right;
  width: 240px;
} */

.price {
  /* float: left; */
  margin-top: 22px;
  font-size: 25px;
  margin-bottom: 12px;
}

.shipping {
  /* float: right; */
  margin-top: 30px;
  font-size: 10px;
}

/* .clear {
  clear: both;
} */

article {
  display: flex;
  gap: 35px;
  /* flex: 1; */
}

.info-container {
  margin-right: 0px;
  flex: 1 1 0px;
}

.img-container img{
  flex: 1 1 0px;
  display: block;
}

.detail-container {
  flex: 1 1 0px;
}

.color-container {
  display: flex;
  gap: 8px;
}

.price-shipping {
  display: flex;
  justify-content: space-between;
}