* {
  padding: 0px;
  margin: 0px;
}

h2,
h3,
p,
li,
button {
  font-family: sans-serif;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin-top: 24px;
  margin-bottom: 16px;
}

p {
  margin-bottom: 16px;
}

.main-header {
  background-color: #f7f7f7;
  padding: 16px;
}

.price {
  font-size: 22px;
  margin-bottom: 0px;
}

.shipping {
  color: #5f6845;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
}

a:link {
  color: black;
  text-decoration: none;
  /* font-size: 18px; */
  font-family: sans-serif;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline solid black;
}

.product-detail {
  list-style: square;
}

.container {
  width: 825px;
  margin: 0px auto;
  border: 5px solid black;
}

button {
  background-color: black;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  border-top: 5px solid black;
  border-left: none;
  border-right: none;
  padding: 16px;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.detail-label {
  font-size: 16px;
  text-transform: uppercase;
}

ul {
  padding-left: 18px;
}

li {
  margin-bottom: 16px;
}
