* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

.nav-container {
  font-size: 15px;
  line-height: 1.5;
  background-color: black;
  color: white;
}

.nav-container ul {
  list-style: none;
  display: flex;
}

.nav-container ul li {
  display: inline-block;
  padding: 12px 24px;
}

nav {
  display: flex;
  justify-content: space-between;
}

a:link {
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: #fff;
  color: black;
}

.nav-container div{
  padding: 12px 24px;
  text-decoration: none;
}

.nav-container div:hover {
  background-color: red;
  color: black;
}
