body {
  border-top: 10px solid #1098ad;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-size: 22px;
  line-height: 1.5;
  color: #444;
}

li {
  font-size: 20px;
}

#author {
  font-size: 18px;
  font-style: italic;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

#related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  text-decoration: underline solid orangered;
  font-weight: bold;
}

a:active {
  background-color: black;
  font-style: italic;
}

nav {
  font-size: 18px;
}
