* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  border-top: 10px solid #1098ad;
  position: relative;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h1::first-letter {
  font-style: normal;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  color: #444;
  margin-bottom: 15px;
}

ul,
ol {
  padding-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0px;
}

#author {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 15px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

#related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  /* height: 80px; */
}

.article-header {
  margin-bottom: 40px;
}

.post-image {
  width: 100%;
  height: auto;
}

.container-body {
  width: 1200px;
  margin: 0px auto;
  /* position: relative; */
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

a:link {
  color: #1098ad;
  text-decoration: none;
  font-family: sans-serif;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  text-decoration: underline solid orangered;
  font-weight: bold;
}

a:active {
  background-color: black;
  font-style: italic;
}

nav {
  font-size: 18px;
}

h4 {
  text-align: center;
  color: black;
}

article {
  margin: 60px 0px;
}

nav a:link {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}

nav a:link:last-child {
  margin-right: 0px;
}

button {
  font-size: 22px;
  padding: 20px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  font-size: 16px;
  background-color: #ffe70e;
  color: #444;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

/* .img-author {
  float: left;
  margin-bottom: 20px;
}

.author {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
} */

/* Building layout of navigator */
/* .main-header h1 {
  float: left;
}

.main-header nav {
  float: right;
}

.main-header::after {
  content: "";
  clear: both;
  display: block;
}

.article {
  float: left;
  width: 850px;
}

.related-post {
  float: right;
  width: 300px;
  margin-top: 60px;
  padding: 40px;
}

footer {
  clear: both;
} */

/* FlexBox using */
/* .main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

#author {
  margin-bottom: 0px;
}

.related-post li {
  display: flex; 
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
}

.related-author {
  margin-bottom: 0px;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}

.related-link:link {
  font-size: 17px;
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
  font-style: normal;
}

.related-post {
  padding: 30px;
  /* margin-bottom: 30px; 
}

.content-container {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.article {
  flex: 0 0 850px;
}

.related-post {
  flex: 0 0 300px;
  margin-top: 60px
} */

/* Building layout using grid */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

#author {
  margin-bottom: 0px;
}

.related-post li {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}

.name-author-container a:link{
  font-weight: bold;
  font-size: 17px;
}

.related-post li:last-child {
  margin-bottom: 0px;
}

.related-author {
  font-style: italic;
  font-size: 14px;
}

.related-post {
  padding: 30px;
}

.related-author {
  margin-bottom: 0px;
}

article ul, article ol {
  margin-left: 50px;
}

.container-body {
  display: grid;
  grid-template-columns: 1fr 300px;
  align-items: start;
  column-gap: 50px;
  row-gap: 60px;
}

.main-header {
  grid-column: 1 / -1;
}

.article {
  margin: 0px;
}

.article-header {
  margin: 0px;
}