* {
  padding: 0px;
  margin: 0px;
}

body {
  border-top: 10px solid #1098ad;
  position: relative;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h1::first-letter {
  font-style: normal;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-size: 22px;
  line-height: 1.5;
  color: #444;
  margin-bottom: 15px;
}

ul,
ol {
  padding-left: 50px;
  padding-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0px;
}

#author {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 15px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

#related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  /* height: 80px; */
}

.article-header {
  margin-bottom: 40px;
}

.post-image {
  width: 100%;
  height: auto;
}

.container-body {
  width: 800px;
  margin: 0px auto;
  /* position: relative; */
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0px;
  width: 500px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

a:link {
  color: #1098ad;
  text-decoration: none;
  font-family: sans-serif;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  text-decoration: underline solid orangered;
  font-weight: bold;
}

a:active {
  background-color: black;
  font-style: italic;
}

nav {
  font-size: 18px;
}

h4 {
  text-align: center;
  color: black;
}

article {
  margin: 60px 0px;
}

nav a:link {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}

nav a:link:last-child {
  margin-right: 0px;
}

button {
  font-size: 22px;
  padding: 20px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  font-size: 16px;
  background-color: #ffe70e;
  color: #444;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

.img-author {
  float: left;
  margin-bottom: 20px;
}

.author {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
